header {
  background-color: #282c34;
  padding: 20px;
  width: 100%;
}

/* Add styles for Navigation */
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a.active {
  font-weight: bold;
}

/* Add styles for Footer */
footer {
  background-color: #282c34;
  padding: 20px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

footer ul li {
  display: inline;
  margin-right: 20px;
}

footer ul li a {
  text-decoration: none;
  color: white;
}

/* Add styles for sections */
section {
  padding: 20px;
  background-color: #fff;
  margin-bottom: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Add styles for headings */
h2 {
  margin-bottom: 20px;
}

/* Add styles for images */
img {
  max-width: 100%;
  height: auto;
}

/* Add styles for project modules */
/* Add styles for project modules */
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  /* Add max-height to make project modules less tall */
  max-height: 500px; /* Adjust the value as needed */
  overflow: hidden; /* Hide any overflow content */
}

.project:hover {
  transform: translateY(-5px);
}

.project img {
  width: 100%;
  height: auto;
}

.project-links {
  margin-top: 10px;
}

.project-links a {
  display: inline-block;
  padding: 8px 16px;
  margin-right: 10px;
  background-color: #61dafb;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.project-links a:hover {
  background-color: #46a2cc;
}

.about-me {
  text-align: center;
}

.about-me img {
  max-width: 100%;
  height: auto;
  max-height: 300px; /* Adjust the maximum height as needed */
  margin-bottom: 20px;
}